.login__page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $blue;
  border-radius: 13px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    color: $darkBlue;
  }

  &__text {
    font-size: 23px;
    font-weight: 400;
    line-height: normal;
    color: $deepPurple;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding: 105px 133px;
    background-color: $white;
    border-radius: 13px 0px 0px 13px;
    box-shadow: -40px 4px 45px 0px rgba(160, 152, 174, 0.15);

    &_input {
      width: 384px;
      padding: 10px 11px 13px 22px;
      border-radius: 12px;
      border: 1px solid $deepPurple;
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
      color: $deepPurple;

      &::placeholder {
        font-size: 12px !important;
        font-weight: 400;
        line-height: normal;
        color: #c7c7c7;
      }
    }

    &_checkbox {
      margin-bottom: 35px;
      color: $darkBlue;
      font-size: 15px !important;
      font-weight: 400;
      line-height: normal;
    }

    &_forget {
      font-size: 15px;
      font-weight: 400;
      line-height: 31px;
      color: $blue;
    }

    &_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 55px;
      border-radius: 12px;
      background-color: $blue;
      border: none;
      font-size: 21px;
      font-weight: 600;
      color: $white;

      &:hover {
        color: $white !important;
      }
    }
  }

  &__img {
    max-width: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0px 13px 13px 0px;

    &_wrapper {
      max-width: 510px;
      width: 100%;
      height: 168px;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

:where(.css-dev-only-do-not-override-byeoj0).ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  display: none;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-form-vertical
  .ant-form-item-label
  > label,
:where(.css-dev-only-do-not-override-byeoj0).ant-col-24.ant-form-item-label
  > label,
:where(.css-dev-only-do-not-override-byeoj0).ant-col-xl-24.ant-form-item-label
  > label {
  color: $deepPurple;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-left: 12px;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-input-affix-wrapper:not(
    .ant-input-affix-wrapper-disabled
  ):hover {
  border-color: none !important;
  border-inline-end-width: none !important;
  z-index: 0 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $blue !important;
  border-color: $blue !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover {
  border-color: $blue !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: $blue !important;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-form-item
  .ant-form-item-feedback-icon {
  font-size: 20px;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-input-affix-wrapper
  .ant-input-suffix {
  margin-inline-start: 22px;
}

.anticon svg {
  margin: 4px 11px 0 0;
}
