.lesson-buttons__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .lesson-content__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .lesson-navigation__button {
    padding: 12px 46px;
    border: 1px solid $blue;
    background-color: $white;
    border-radius: 15px;
    box-shadow: 3px 3px 8px 0px rgba(200, 200, 200, 0.2);
  }
  
  .lesson-button {
    white-space: nowrap;
    padding: 15px 32px;
    border-radius: 15px;
    color: $deepPurple;
    font-size: 18px;
    font-weight: 500;
    background-color: $white;
    box-shadow: 3px 3px 8px 0px rgba(200, 200, 200, 0.2);
    border: 1px solid $white;
    transition: 0.2s;
  
    &:hover {
      border: 1px solid $blue;
    }
  
    &__active {
      color: $white;
      background-color: $blue;
      white-space: nowrap;
      padding: 15px 32px;
      border-radius: 15px;
      font-size: 18px;
      font-weight: 500;
      box-shadow: 3px 3px 8px 0px rgba(200, 200, 200, 0.2);
      border: 1px solid $blue;
      transition: 0.2s;
    }
  }
  
  .tab__container {
    display: flex;
    flex-direction: column;
  }
  
  .tab-sub__buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: start;
    margin-block: 80px 44px;
  }
  
  .sub-button {
    padding: 10px 30px;
    background-color: $white;
    color: $darkBlue;
    border: 1px solid $deepPurple;
    border-radius: 15px;
    box-shadow: 3px 3px 8px 0px rgba(200, 200, 200, 0.2);
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s;
  
    &:hover {
      border: 1px solid $blue;
      color: $blue;
    }
  
    &.active {
      background-color: $blue;
      color: $white;
      border: 1px solid $blue;
    }
  }
  
  .tab__content {
    display: flex;
    align-items: center;
    gap: 53px;
    margin-bottom: 100px;
  }
  
  .tab-question__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .content__desk {
    width: 650px;
    height: 400px;
    background-color: $white;
    box-shadow: 4px 5px 20px 0px rgba(96, 96, 96, 0.11);
    border-radius: 10px;
  }
  
  .content__question {
    color: $darkBlue;
    font-size: 26px;
    font-weight: 700;
  }
  
  .content-variants__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .content__variant {
    min-width: 400px;
    width: 100%;
    padding: 10px 30px;
    text-align: start;
    border-radius: 10px;
    box-shadow: 4px 5px 20px 0px rgba(96, 96, 96, 0.11);
    color: $blue;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    transition: 0.2s;
    border: 1px solid $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &:hover {
      border: 1px solid $blue;
    }
  }
  
  .tab-bottom__content {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 18px 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: $white;
    border-radius: 10px;
    width: auto;
    box-shadow: 4px 5px 20px 0px rgba(96, 96, 96, 0.11);
  }
  
  .timer__second {
    color: $darkBlue;
    font-size: 18px;
    font-weight: 700;
  }
  
  .timer__wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .timer__info {
    color: $darkBlue;
    font-size: 26px;
    font-weight: 700;
  }
  
  .task-navigation__button {
    background-color: $blue;
    color: $white;
    padding-inline: 25px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
  }
  
  .task-navigation__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .content-variant__item {
    width: 16px;
    height: 16px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  }
  