.accordion {
  &_item {
    margin-block: 16px 10px;
  }

  &-process {
    padding: 24px;
    background-color: $white;
    border-radius: 16px;
    max-width: max-content;

    &__bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &-text {
        color: $darkBlue;
        font-size: 14px;
        font-weight: 600;
      }

      &-count {
        color: $deepPurple;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  &-cources {
    width: 100%;
    padding: 24px;
    background-color: $white;
    border-radius: 16px;

    &__content {
      padding-block-start: 20px;
    }

    &__data {
      color: $darkBlue;
      font-size: 18px;
      font-weight: 600;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-icon {
        height: 32px;
        width: 32px;
        background-color: $blue;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-left {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }
}

.accordion__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}