.member-modal__title {
  font-size: 22px;
  font-weight: 700;
  color: $blue;
}

.member-modal__submit {
  background-color: $blue;
  font-size: 18px;
  width: 100px;
  height: 40px;
}

.member-modal__cancel {
  font-size: 18px;
  width: 100px;
  height: 40px;

  &:hover {
    color: $blue !important;
    border: 1px solid $blue !important;
  }
}

.member-modal__buttons {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: end;
  margin-top: 50px;
}