$blue: #166199;
$lightGreen: #edf4e5;
$orange: #fec64f;
$darkBlue: #374557;
$white: #fff;
$deepPurple: #a098ae;
$light: #fafafa;
$silver: #f5f5f5;
$black: #000;
$gray: #dbdbdb;
$cerebral: #ccc;
$red: #fc6b57;
